<div class="card mt-3 p-4">
	<h3><%= @post.title %></h3>
	<p><%= @post.body %></p>
</div>

<%= link_to("Edit", edit_post_path(@post) , :class => 'btn btn-secondary m-3') %>

<%= link_to("Delete", post_path(@post) , method: :delete, data: {confirm: 'Are you sure ?'}, :class => 'btn btn-danger m-3') %>

<hr>

<%= render 'comments/comments' %>
<%= render 'comments/form' %>